<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Button</title>
  <link rel="stylesheet" href="../vender/css/bootstrap.min.css"/>
</head>
<body>
  <section style="padding:50px;">
    <h3>按钮种类</h3>
    <p>
      <button class="btn btn-default">默认按钮</button>
      <button class="btn btn-primary">原始按钮</button>
      <button class="btn btn-success">成功按钮</button>
      <button class="btn btn-info">信息按钮</button>
      <button class="btn btn-warning">警告按钮</button>
      <button class="btn btn-danger">危险按钮</button>
      <button class="btn btn-link">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default active">默认按钮</button>
      <button class="btn btn-primary active">原始按钮</button>
      <button class="btn btn-success active">成功按钮</button>
      <button class="btn btn-info active">信息按钮</button>
      <button class="btn btn-warning active">警告按钮</button>
      <button class="btn btn-danger active">危险按钮</button>
      <button class="btn btn-link active">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default disabled">默认按钮</button>
      <button class="btn btn-primary disabled">原始按钮</button>
      <button class="btn btn-success disabled">成功按钮</button>
      <button class="btn btn-info disabled">信息按钮</button>
      <button class="btn btn-warning disabled">警告按钮</button>
      <button class="btn btn-danger disabled">危险按钮</button>
      <button class="btn btn-link disabled">链接按钮</button>
    </p>
    <h5>超小按钮</h5>
    <p>
      <button class="btn btn-default btn-xs">默认按钮</button>
      <button class="btn btn-primary btn-xs">原始按钮</button>
      <button class="btn btn-success btn-xs">成功按钮</button>
      <button class="btn btn-info btn-xs">信息按钮</button>
      <button class="btn btn-warning btn-xs">警告按钮</button>
      <button class="btn btn-danger btn-xs">危险按钮</button>
      <button class="btn btn-link btn-xs">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default btn-xs active">默认按钮</button>
      <button class="btn btn-primary btn-xs active">原始按钮</button>
      <button class="btn btn-success btn-xs active">成功按钮</button>
      <button class="btn btn-info btn-xs active">信息按钮</button>
      <button class="btn btn-warning btn-xs active">警告按钮</button>
      <button class="btn btn-danger btn-xs active">危险按钮</button>
      <button class="btn btn-link btn-xs active">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default btn-xs disabled">默认按钮</button>
      <button class="btn btn-primary btn-xs disabled">原始按钮</button>
      <button class="btn btn-success btn-xs disabled">成功按钮</button>
      <button class="btn btn-info btn-xs disabled">信息按钮</button>
      <button class="btn btn-warning btn-xs disabled">警告按钮</button>
      <button class="btn btn-danger btn-xs disabled">危险按钮</button>
      <button class="btn btn-link btn-xs disabled">链接按钮</button>
    </p>
    <h3>较小按钮</h3>
    <p>
      <button class="btn btn-default btn-sm">默认按钮</button>
      <button class="btn btn-primary btn-sm">原始按钮</button>
      <button class="btn btn-success btn-sm">成功按钮</button>
      <button class="btn btn-info btn-sm">信息按钮</button>
      <button class="btn btn-warning btn-sm">警告按钮</button>
      <button class="btn btn-danger btn-sm">危险按钮</button>
      <button class="btn btn-link btn-sm">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default btn-sm active">默认按钮</button>
      <button class="btn btn-primary btn-sm active">原始按钮</button>
      <button class="btn btn-success btn-sm active">成功按钮</button>
      <button class="btn btn-info btn-sm active">信息按钮</button>
      <button class="btn btn-warning btn-sm active">警告按钮</button>
      <button class="btn btn-danger btn-sm active">危险按钮</button>
      <button class="btn btn-link btn-sm active">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default btn-sm disabled">默认按钮</button>
      <button class="btn btn-primary btn-sm disabled">原始按钮</button>
      <button class="btn btn-success btn-sm disabled">成功按钮</button>
      <button class="btn btn-info btn-sm disabled">信息按钮</button>
      <button class="btn btn-warning btn-sm disabled">警告按钮</button>
      <button class="btn btn-danger btn-sm disabled">危险按钮</button>
      <button class="btn btn-link btn-sm disabled">链接按钮</button>
    </p>
    <h1>较大按钮</h1>
    <p>
      <button class="btn btn-default btn-lg">默认按钮</button>
      <button class="btn btn-primary btn-lg">原始按钮</button>
      <button class="btn btn-success btn-lg">成功按钮</button>
      <button class="btn btn-info btn-lg">信息按钮</button>
      <button class="btn btn-warning btn-lg">警告按钮</button>
      <button class="btn btn-danger btn-lg">危险按钮</button>
      <button class="btn btn-link btn-lg">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default btn-lg active">默认按钮</button>
      <button class="btn btn-primary btn-lg active">原始按钮</button>
      <button class="btn btn-success btn-lg active">成功按钮</button>
      <button class="btn btn-info btn-lg active">信息按钮</button>
      <button class="btn btn-warning btn-lg active">警告按钮</button>
      <button class="btn btn-danger btn-lg active">危险按钮</button>
      <button class="btn btn-link btn-lg active">链接按钮</button>
    </p>
    <p>
      <button class="btn btn-default btn-lg disabled">默认按钮</button>
      <button class="btn btn-primary btn-lg disabled">原始按钮</button>
      <button class="btn btn-success btn-lg disabled">成功按钮</button>
      <button class="btn btn-info btn-lg disabled">信息按钮</button>
      <button class="btn btn-warning btn-lg disabled">警告按钮</button>
      <button class="btn btn-danger btn-lg disabled">危险按钮</button>
      <button class="btn btn-link btn-lg disabled">链接按钮</button>
    </p>
  </section>
</body>
</html>